.top_navigation {
  position: absolute;
  width: 100vw;
  height: 12vh;
  left: 0;
  top: 0;
  border: 1px solid red;
}

.item_navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  position: absolute;
  width: 30.5vw;
  height: 8vh;
  left: 35vw;
  top: 2vh;
  border: 1px solid blue;
  margin: 0;
}

.item_navigation > li > a {
  text-decoration: none;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2vh 1vw;
  gap: 10px;
  width: 8vw;
  height: 8vh;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
  border: 1px solid red;
}

.frame {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 0;
  gap: 24px;
  position: absolute;
  width: 920px;
  height: 756px;
  left: 260px;
  top: 72px;
  border: 1px solid red;
}

.primary {
  width: 920px;
  height: 114px;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.supportingtext{
    width: 920px;
height: 96px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;

text-align: center;


color: #172B4D;


flex: none;
order: 1;
flex-grow: 0;
}