@media (min-width: 250px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background: #1c1a19;
    font-family: 'Crete Round', serif;
  }

  header {
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #3c3a39;
  }

  .porfolio_container {
    display: flex;
    flex-direction: column;
  }

  .nameplateicons {
    margin-left: 65vw;
    gap: 3px;
    width: 5vw;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  .dropdown {
    background: transparent;
    border: none;
  }

  .dropdown:hover {
    cursor: pointer;
  }

  .text {
    color: #fff;
    text-decoration: none;
    width: 30vw;
    white-space: nowrap;
    margin-left: 6%;
  }

  .header_navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .item_navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80%;
    background: #3c3a39;
    padding: auto auto;
    margin: auto 0;
  }

  .primary {
    height: 124px;
    margin-left: 5%;
    font-style: normal;
    font-weight: 450;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    width: 80vw;
  }

  .role {
    width: 90vw;
    height: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    flex: none;
    margin: auto;
    flex-grow: 0;
  }

  h3 {
    width: 327px;
    height: 123px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  .head {
    background: #1c1a19;
    width: 100%;
    height: 90vh;
    background-image: url('image/illustration-header-mobile.png');
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .headline {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .union {
    flex: 1;
    list-style: none;
  }

  .item {
    width: 5vw;
    height: 10vh;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    flex: 5;
  }

  .social_header_navigation {
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: 6%;
    margin-top: -5%;
  }

  .social_navigation {
    width: 60vw;
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .supportingtext {
    width: 90vw;
    height: 123px;
    margin: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #fff;
  }

  .worksection {
    width: 100vw;
    height: 600%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    margin: 0;
    padding: 0;
    gap: 0;
  }

  #worksectionheading {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #1c1a19;
    grid-row: 1/5;
    padding-top: 30%;
  }

  hr {
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: gray;
  }

  .workdescription {
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: none;
    padding: 0;
    margin: 0;
  }

  #worksectionheader {
    width: 100%;
    height: 40vh;
    justify-content: center;
    background-color: white;
    background-image: none;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
  }

  #project1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
    gap: 3%;
  }

  #placeholder {
    width: 100%;
  }

  #project1text {
    width: 90%;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  #project1supporttext {
    width: 90%;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #091e42;
  }

  #project1language {
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    gap: 4%;
    width: 70%;
  }

  .languageitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #8993a4;
    width: 14vw;
    height: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    padding: 10%;
    justify-content: center;
  }

  #bootstrap {
    width: 24vw;
  }

  #seeproject1 {
    margin-top: 3%;
    width: 34%;
    padding: 3%;
    background-color: #ff6b00;
    white-space: nowrap;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    justify-content: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    border: none;
  }

  .otherproject {
    width: 90vw;
    height: 75vh;
    margin: 2.5vh auto;
    background-image: url('image/Img\ Placeholder\ \(3\).png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 16vh;
    display: flex;
    flex-direction: column;
  }

  .otherprojectheading {
    width: 80vw;
    height: 15vh;
    font-weight: 400;
    margin: 0 auto;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .otherprojecttext {
    width: 80vw;
    height: 20vh;
    margin: 2vh auto 0 auto;
    color: #fff;
    font-family: 'Crete Round', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  #project2language {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
    gap: 1%;
    width: 80%;
    height: 10vh;
    margin: 1.5vh auto 0 5vw;
    align-items: center;
  }

  .seeproject2 {
    height: 10vh;
    width: 90vw;
    background-color: #ff6b00;
    margin: 1.5vh auto 0 0;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    justify-content: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    border: none;
  }

  .language2item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 14vw;
    height: 5vh;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    background: rgba(255, 255, 255, 0.24);
  }

  .about {
    width: 100%;
    height: 90vh;
    background-color: #1c1a19;
    display: flex;
    flex-direction: column;
    background-image: url('image/illustration-about-me-mobile.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 5%;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .aboutheader {
    width: 90vw;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    color: #ff6b00;
    padding-top: 30%;
    letter-spacing: 0.37px;
  }

  .aboutsection {
    width: 100%;
    height: auto;
    background: #1c1a19;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  #aboutmetext {
    width: 90vw;
    padding: 0.5vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
  }

  #getresumebutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background: #ff6b00;
    width: 45vw;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
  }

  .lang {
    color: white;
    width: 70vw;
    align-content: center;
    justify-content: center;
    margin: 20vh auto 0 auto;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }

  .skilllist {
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex-wrap: wrap;

    /* height: 150vh; */
  }

  #first::before {
    content: url('image/Rectangle\ 55.png');
    margin-left: 2vw;
  }

  #first::after {
    margin-left: 10vw;
  }

  #second::before {
    content: url('image/Rectangle\ 56\ \(1\).png');
    padding-left: 5vw;
  }

  #third::before {
    content: url('image/Rectangle\ 57.png');
    padding-left: 2vw;
  }

  .listitem {
    width: 50%;
    height: 60vh;
    margin: 0 auto 5% auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #first {
    margin-top: 15vh;
  }

  .list {
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
    padding-top: 5%;
    padding-bottom: 10%;
  }

  #second {
    margin-top: 7vh;
  }

  #third {
    margin-top: 7vh;
  }

  .divider {
    width: 90%;
    margin: auto;
    border: 0.5px thin #fff;
  }

  .contact-form {
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white
  }

  .footer {
    height: 30vh;
    border: 2px solid blue;
  }

  .footer .liner {
    height: 4px;
    width: 145px;
    background-color: white;
    margin: 0 auto;
  }

 

  .contact-form h2 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
    width: 90vw;
    margin: 20% auto 10% auto;
    text-align: center;
  }

  .form_details{
   
    height: fit-content;
    
   }

   input{
    width: 90%;
    padding: 2%;
    margin: 3%;
    border: 0;
    border-bottom: 2px solid #DBD8D7;;
    

   }
   textarea{
    width: 90%;
    margin: 3%;
    
    background-color: #DBD8D7;
   }

   .btn{
    align-items: center;
      width:35%;
      margin-left: 30%;
      height: 15%;
      






background: #FF6B00;
   }

  
}
