@media (min-width: 250px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  header {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: #3c3a39;
  }

  .top_navigation {
    background-color: #3e3c3c;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    height: 10vh;
    list-style: none;
    align-items: center;
  }

  .nameplateicons {
    margin-left: 65vw;
    gap: 3px;
    width: 5vw;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  .text {
    color: #fff;
    text-decoration: none;
    width: 30vw;
    white-space: nowrap;
  }

  .item_navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .primary {
    height: 124px;
    margin: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
  }

  h2 {
    width: 327px;
    height: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    flex: none;
    margin-left: 17vw;
    flex-grow: 0;
  }

  .nameplate {
    width: 10vw;
    height: 10vh;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin-left: 7vw;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  h3 {
    width: 327px;
    height: 123px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 17vw;
    color: #fff;
  }

  .social_media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 17vw;
  }

  .illustration {
    position: absolute;
    left: 63%;
    top: 49%;
    transform: rotate(-6deg);
  }

  section {
    background: #1c1a19;
    width: 100vw;
    height: 80vh;
  }

  .headline {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .union {
    margin-left: 77vw;
    list-style: none;
  }

  .item {
    width: 5vw;
    height: 10vh;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-left: 5vw;
  }
}
